<div class="modal-header">
    <h3 class="modal-title">{{program.name}}</h3>
</div>
<form ng-submit="save()">
<div class="modal-body">
        <table ng-if="!loading" class="table">
            <tr ng-repeat="programStageDataElement in program.programStages[0].programStageDataElements | orderBy:'sortOrder'">
                <td>{{programStageDataElement.dataElement.name | extrapolateDataElement}}</td>
                <td>
                    <element-input ng-program-stage-data-element="programStageDataElement"
                                   ng-model="event.dataValues[getDataElementIndex(programStageDataElement.dataElement)]"></element-input>
                </td>
            </tr>
        </table>
    <div ng-if="loading" class="loader"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" >Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
</form>