<div class="modal-header">
    <h3 class="modal-title">{{program.displayName}}</h3>
</div>
<div class="modal-body">
    <table class="table">
        <tr ng-if="!loading" ng-repeat="programStageDataElement in program.programStages[0].programStageDataElements | orderBy:'sortOrder'">
            <td ng-if="programStageDataElement.dataElement.valueType != 'FILE_RESOURCE'">{{programStageDataElement.dataElement.name | extrapolateDataElement}}</td>
            <td ng-if="programStageDataElement.dataElement.valueType != 'FILE_RESOURCE'">
                <div>{{event | extrapolateDataValue:programStageDataElement.dataElement.name}}</div>

            </td>
            <td ng-if="programStageDataElement.dataElement.valueType == 'FILE_RESOURCE'" colspan="2" align="center">
                <div>
                    {{programStageDataElement.dataElement.name}}<br/><br/>
                    <file-view event="event" stage-data-element="programStageDataElement.dataElement"></file-view>
                </div>
            </td>
        </tr>
        <tr ng-if="loading"><td colspan="3" align="center"><div class="loader"></div></td></tr>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="viewRelationData('Accident Vehicle')">Accident Vehicle</button>
    <button class="btn btn-primary" type="button" ng-click="viewRelationData('Accident Witness')">Accident Witness</button>
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>