<div class="row">
    <div class="col-sm-12">
        {{'app_header'| translate}}
    </div>
    </div>
<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-success pull-right" ng-click="showAddNew()">Add</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table ng-table-dynamic="tableParams with tableCols"

               class="table table-bordered col-sm-12" show-filter="false">
            <tr ng-if="!loading" ng-repeat="event in $data">
                <td ng-repeat="col in $columns">
                    {{event | extrapolateDataValue:col.title()}}
                    <div ng-if="col.title() == 'Action'" class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a ng-click="showDetails(event)">View Details</a></li>
                            <li><a ng-click="showEdit(event)">Edit</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr ng-if="loading"><td colspan="3" align="center"><div class="loader"></div></td></tr>
        </table>
    </div>
</div>
<!--<td title="'Vehicle Plate Number/Registration Number'"
                    filter="{ 'Vehicle Plate Number/Registration Number': 'text'}"
                    sortable="'Vehicle Plate Number/Registration Number'">
                    {{event | extrapolateDataValue:"Vehicle Plate Number/Registration Number"}}
                </td>
                <td title="'Offence Admission Status'" filter="{ 'Offence Admission Status': 'text'}"
                    sortable="'Offence Admission Status'">
                    {{event  | extrapolateDataValue:"Vehicle Plate Number/Registration Number"}}
                </td>
                <td title="'Action'">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a ng-click="showDetails(event)">View Details</a></li>
                            <li><a ng-click="showEdit(event)">Edit</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </td>-->
<!--<td ng-if="$index == 0" ng-repeat="programStageDataElement in program.programStages[0].programStageDataElements">
    {{programStageDataElement.dataElement.name}} -
    {{event | extrapolateDataValue:programStageDataElement.dataElement.name}}
</td>-->