<div class="modal-header">
    <h3 class="modal-title">Select Location</h3>
</div>
<div class="modal-body">
    <ng-camera capture-message="Cheeeese!" countdown="3" output-height="160" output-width="213" viewer-height="320" viewer-width="426" crop-height="90" crop-width="120"
               image-format="jpeg" jpeg-quality="100" action-message="Take picture" snapshot="picture" ></ng-camera>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-click="setPhoto()">Set Photo</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>