<style>
    .glyphicon.spinning {
        animation: spin 1s infinite linear;
        -webkit-animation: spin2 1s infinite linear;
    }

    @keyframes spin {
        from {
            transform: scale(1) rotate(0deg);
        }
        to {
            transform: scale(1) rotate(360deg);
        }
    }

    @-webkit-keyframes spin2 {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(360deg);
        }
    }
</style>
<script type="text/ng-template" id="customTemplate.html">
    <a>
        <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div ng-if="!relation">
    <div ng-if="(ngProgramStageDataElement.dataElement.valueType == 'LONG_TEXT') && !ngProgramStageDataElement.dataElement.optionSetValue"
         class="form-group">
        <textarea type="text" class="form-control" ng-model="ngModel.value"
                  ng-required="ngProgramStageDataElement.compulsory"></textarea>
    </div>
    <div ng-if="ngProgramStageDataElement.dataElement.valueType == 'TEXT' && !ngProgramStageDataElement.dataElement.optionSetValue"
         class="form-group">
        <input type="text" class="form-control" ng-model="ngModel.value"
               ng-required="ngProgramStageDataElement.compulsory">
    </div>
    <div ng-if="ngProgramStageDataElement.dataElement.valueType == 'NUMBER' && !ngProgramStageDataElement.dataElement.optionSetValue"
         class="form-group">
        <input type="number" class="form-control" ng-model="ngModel.value"
               ng-required="ngProgramStageDataElement.compulsory">
    </div>
    <div ng-if="ngProgramStageDataElement.dataElement.valueType == 'INTEGER' && !ngProgramStageDataElement.dataElement.optionSetValue"
         class="form-group">
        <input type="number" class="form-control" ng-model="ngModel.value"
               ng-required="ngProgramStageDataElement.compulsory">
    </div>
    <div ng-if="ngProgramStageDataElement.dataElement.valueType == 'INTEGER_POSITIVE' && !ngProgramStageDataElement.dataElement.optionSetValue"
         class="form-group">
        <input type="number" class="form-control" ng-model="ngModel.value" min="1"
               ng-required="ngProgramStageDataElement.compulsory">
    </div>
    <div ng-if="ngProgramStageDataElement.dataElement.valueType == 'INTEGER_NEGATIVE' && !ngProgramStageDataElement.dataElement.optionSetValue"
         class="form-group">
        <input type="number" class="form-control" ng-model="ngModel.value"
               ng-required="ngProgramStageDataElement.compulsory" max="-1">
    </div>
    <div ng-if="ngProgramStageDataElement.dataElement.valueType == 'INTEGER_ZERO_OR_POSITIVE' && !ngProgramStageDataElement.dataElement.optionSetValue"
         class="form-group">
        <input type="number" class="form-control" ng-model="ngModel.value"
               ng-required="ngProgramStageDataElement.compulsory" min="0">
    </div>
    <div ng-if="ngProgramStageDataElement.dataElement.valueType == 'UNIT_INTERVAL' && !ngProgramStageDataElement.dataElement.optionSetValue"
         class="form-group">
        <input type="text" class="form-control" ng-model="ngModel.value"
               ng-required="ngProgramStageDataElement.compulsory">
    </div>
    <div ng-if="ngProgramStageDataElement.dataElement.valueType == 'PERCENTAGE' && !ngProgramStageDataElement.dataElement.optionSetValue"
         class="form-group">
        <input type="number" class="form-control" ng-model="ngModel.value"
               ng-required="ngProgramStageDataElement.compulsory">%
    </div>
    <div ng-if="ngProgramStageDataElement.dataElement.valueType == 'COORDINATE' && !ngProgramStageDataElement.dataElement.optionSetValue"
         class="form-group">
        <input type="text" class="form-control" ng-model="ngModel.value"
               ng-required="ngProgramStageDataElement.compulsory">
    </div>
    <div ng-if="ngProgramStageDataElement.dataElement.valueType == 'BOOLEAN' && !ngProgramStageDataElement.dataElement.optionSetValue"
         class="form-group">
        <select class="form-control" ng-required="ngProgramStageDataElement.compulsory" ng-model="ngModel.value">
            <option value="">Select {{ngProgramStageDataElement.dataElement.name}}</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </div>
    <div ng-if="ngProgramStageDataElement.dataElement.valueType == 'TRUE_ONLY' && !ngProgramStageDataElement.dataElement.optionSetValue"
         class="form-group">
        <input type="checkbox" class="form-control" ng-model="ngModel.value"
               ng-required="ngProgramStageDataElement.compulsory">
    </div>
    <div ng-if="ngProgramStageDataElement.dataElement.optionSetValue" class="form-group">
        <select class="form-control" ng-required="ngProgramStageDataElement.compulsory" ng-model="ngModel.value">
            <option value="">Select {{ngProgramStageDataElement.dataElement.name}}</option>
            <option ng-repeat="option in ngProgramStageDataElement.dataElement.optionSet.options"
                    value="{{option.name}}">{{option.name}}
            </option>
        </select>
    </div>
    <div ng-if="ngProgramStageDataElement.dataElement.valueType == 'DATE'" class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="ngModel.value"
               is-open="popup1.opened" datepicker-options="dateOptions"
               ng-required="ngProgramStageDataElement.compulsory" close-text="Close"
               alt-input-formats="altInputFormats"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
    </div>
</div>
<div ng-if="relation">

    <div class="input-group col-sm-12">
        <style>
            .ui-select-focusser.ui-select-offscreen.ng-scope {
                display: none;
            }
        </style>
        <ui-select ng-model="ngModel.value" theme="selectize">
            <ui-select-match placeholder="Select {{relation.dataElement.name | extrapolateDataElement}}">
                {{$select.selected | extrapolateDataValue:relation.dataElement.name}}
            </ui-select-match>
            <ui-select-choices repeat="event as event in relation.data | filter: $select.search" refresh-delay="0"
                               refresh="relation.searchRelations($select.search)">
                <span ng-bind-html="event | extrapolateDataValue:relation.dataElement.name | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
        <div ng-if="relation.programs.length > 0" class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span ng-if='relation.feedback.status == "LOADING"' class="glyphicon glyphicon-refresh spinning"></span>
                <span ng-if='relation.feedback.status != "LOADING"'>Actions<span class="caret"></span></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li ng-repeat="program in relation.programs"><a ng-click="show(program,ngModel.value)">View
                    {{program.displayName}} Details</a></li>
            </ul>
        </div>
        <!-- /btn-group -->
    </div>
    <div ng-if='relation.feedback.status == "ERROR"' class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{relation.feedback.message}}
    </div>
    <div ng-if='relation.feedback.status == "SUCCESS"' class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{relation.feedback.message}}
    </div>
</div>
